.search__input {
  display: flex;
  align-items: center;
  height: 44px;
  padding: 10px 20px;
  border-radius: 24px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 484px;
  border: 1px solid #dfe1e5;
}
.search__input:hover,
.search__input:focus-within {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}
.search__input > input {
  flex: 1;
  height: 34px;
  font-size: medium;
  border: none;
  margin: 0 10px;
}
.search__input > input:focus {
  outline: 1px;
}

.search__inputIcon {
  color: gray;
}
.search__inputIcon--clickable {
  color: inherit;
  cursor: pointer;
}

.search__buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.search__buttons button {
  margin: 0 5px;
  padding: 7px 15px;
  background-color: #f8f8f8;
  border: 1px solid white;
  text-transform: inherit;
  color: #5f6368;
  font-weight: 400;
}
.search__buttons button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom, #f8f8f8, #f1f1f1);
  background-image: -webkit-linear-gradient(to bottom, #f8f8f8, #f1f1f1);
  background-image: -moz-linear-gradient(to bottom, #f8f8f8, #f1f1f1);
  background-color: #f8f8f8;
  border: solid 1px #c6c6c6;
  color: #222;
}
.search__buttonsHidden {
  display: none !important;
}
.search__lenguages {
  font-size: 13px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.search__lenguages p,
.search__lenguages a {
  margin-right: 10px;
}
.search__lenguages a {
  text-decoration: inherit;
  color: #1a0dab;
}
.search__lenguages a:hover {
  text-decoration: underline;
}
